@tailwind base;
@tailwind components;
@tailwind utilities;

/* @keyframes appearFromLeft {
  from {
    opacity: 0;
    transform: translateX(-50px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes appearFromRight {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.appear-from-left {
  animation: appearFromLeft 0.5s ease-out;
}

.appear-from-right {
  animation: appearFromRight 0.5s ease-out;
} */